html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* header */

/* Logo */
.main-nav {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: none;
}

.studio {
  color: var(--title-text-color);
}
/* nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #434455;
}
.nav-link:active {
  color: #4d5ae5;
}
/* auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav:not(:last-child) {
  margin-right: 50px;
}
.nav-mail,
.nav-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-mail:hover,
.nav-tel:hover {
  color: var(--accent-color);
}
.nav-mail:focus,
.nav-tel:focus {
  color: var(--accent-color);
}

/* hero */

.section-hero {
  background: #2e2f42;
  text-align: center;
  margin-bottom: 120px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 48;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  width: 170px;
  padding: 16px 32px;
  gap: 10px;
  border: 1px solid transparent;
  font-family: inherit;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}
.hero-button:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Our features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list,
.styles-section {
  display: flex;
}
.element-styl:not(:last-child) {
  margin-right: 30px;
}

.section-features,
.section-work {
  margin-bottom: 120px;
}
/* What are we doing */
.sections-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 8;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.section-lead {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* team */

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card {
  background-color: #ffffff;
}
.section-team {
  background-color: #f4f4fd;
}
.sections-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.sections-profession {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.projects .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.projects-lead {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* bottom */
.btm-porfolio {
  margin-top: 96px;
  margin-bottom: 72px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.btm-li {
  margin-right: 24px;
}
.styles-botton {
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #e7e9fc;

  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;

  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
}
.styles-botton:hover,
.styles-botton:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.card-nav {
  margin-right: 24px;
}
.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
.projects:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.card-nav:nth-child(3n) {
  margin-right: 0px;
}

.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.footer {
  background-color: #2e2f42;
}
.footer .studio {
  color: #f4f4fd;
}

.footer .lead {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.lead {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
